<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
</head>

<body>
    <div>
        <div id="chat" class="chat-container">
        </div>
        <div class="chat-input">
            <input type="text" name="chat-input-text" id="chat-input-text">
            <button id="chat-button-send" >Enviar</button>
        </div>
    </div>
</body>
<script src="/static/js/index.js"></script>

</html>