body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat-container {
    min-height: 400px;
    border: 1px solid #a7a7a7;
    position: relative;
    border-radius: 20px;
    margin: auto auto 20px auto;
}

.chat-container .other {
    text-align: left;
    color: red;

}

.chat-container .me {
    text-align: right;
    color: blue;
    
}
